    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-10 order-item-left">
            <div class="order-item-person">
                <img src="http://placehold.it/250x250" alt="" />
                <strong>{{ order.personName }}</strong>
            </div>
            <div class="order-item-title">{{ order.dishName }}</div>
            <div class="order-item-comp">{{ order.pubName }}</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-2 order-item-right">
            <div class="order-item-opt">
                &times;
            </div>
            <div class="clearBig"></div>
            <div class="order-item-cost">
                {{ order.dishPrice }}
                <tiny>zł</tiny>
            </div>
        </div>
    </div>
