<div class="row">
    <div class="col-xs-12 col-sm-9 col-lg-10 order-newItem-left">
        <div class="row">
            <div class="col-md-4 nopadding order-newItem-comp-wrap">
                <div class="order-newItem-comp">
                    <div class="order-newItem-comp-text">
                        ►
                    </div>
                    <input type="text" name="compName" value="►" placeholder="Nazwa firmy...">
                    <!--<input type="text" [(ngModel)]="pubName" (keyup.enter)="addClicked()">-->
                </div>
                <div class="order-chooseComp">
                    <ul class="list-unstyled">
                        <li>Magiczny Chińczyk</li>
                        <li>Kepap</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 nopadding order-newItem-dish-wrap">
                <div class="order-newItem-dish">
                    <div class="order-newItem-dish-text">
                        ►
                    </div>
                    <input type="text" name="dishName" value="►" placeholder="Nazwa dania...">
                    <!--<input type="text" [value]="dishName" (input)="newItemChanged($event, 'dishName')">-->
                </div>
                <div class="order-chooseDish">
                    <ul class="list-unstyled">
                        <li>Magiczny Chińczyk</li>
                        <li>Kepap</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order-newItem-person">
            <div class="order-newItem-addSign">
                +
            </div>
            <strong class="order-newItem-person-noChoosen">dodaj osobę</strong>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 order-newItem-right">
        <div class="order-newItem-opt" (click)="addClicked()">
            +
        </div>
        <div class="clearBig"></div>
        <div class="order-newItem-cost">
            --.--
            <tiny>zł</tiny>
        </div>
    </div>
</div>
