form{
    text-align: center;
}


.form-control{
    width: 200px;
    margin: auto;
}
h1{
    text-align: center;
    margin: 20px;
}

button{
    position: absolute;
    right:    0;
    bottom:   0;
}